body{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgb(100, 247, 154);
    position: relative;
    background-size: cover;
    transition: .8s ease-in-out;
}


.wrapper_active{
    background: rgba(95, 158, 160, 1);
}

.bubbles{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.bubble_container{
    width: 100%;
    position: relative;
}

.bubble{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    z-index: 100;
    
}

.bubble1{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 200px;
    top: 400px;
    transition: 1s ease-in-out;
}


.title{
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 19px;
    font-weight: 600;
}

.side_pannel1{
    height:  90%;
    width: 150px;
    background-color: rgba(255, 218, 185, 1);
    border: 1px solid rgba(95, 158, 160, 1);
    border-radius: 2px;
    left: 0;
    top: 0;
    background-image: url(/CV/assets/image1.jpg);
    background-size: cover; 
    background-position: left 5px bottom;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bubble2{
    position: fixed;
    right: 100px;
    top: 400px;
    transition: 1s ease-in-out;

}


.side_pannel2{
    height: 90%;
    width: 150px;
    background-color:  rgba(255, 218, 185, 1);
    border: 1px solid rgba(95, 158, 160, 1);
    border-radius: 2px;
    right: 0;
    top: 0;
    background-image: url(/CV/assets/image1.jpg);
    background-size: cover;
    background-position: right 5px bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.pop{
    width: 50%;
    top: 0;
    left: 0;
    animation-play-state: paused;
    border-radius: 0;
    position: fixed;
    height: 100px;
    transition: 1s ease-in-out;
   border: none;
   opacity: 1;
   visibility: visible;
   
}






.pop2{
    width: 50%;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0;
    position: fixed;
    height: 100px;
   transition: 1s ease-in-out;
   animation-play-state: paused;


}

.bulk{
    height: 10vh;
    width: 100%;
}


.pop_content{
    display: none;
    width: 100%;
}


.pop_content2{
    display: none;
    width: 100%;
}

.pop_inner{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
}


.left{
    font-weight: 600;
    font-size: 25px;
    width: 33.33%;
    height: 100px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    position: absolute;
    z-index: 105;
}




.middle{
    font-weight: 600;
    font-size: 25px;
    width: 33.43%;
    height: 100px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    z-index: 107;
    margin-left: 253px;
    transition: .8s ease-in-out;
       
}


.right{
    font-weight: 600;
    font-size: 25px;
    width: 33.33%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 506px;
    transition: .8s ease-in-out;
    
}


.right2{
    font-weight: 600;
    font-size: 25px;
    width: 33.33%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    margin-left: 506px;
}

.nav_arrow{
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.arrow_icon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(255, 218, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: pulse2;
    animation-delay: 2.5s;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
    transition: 1s ease-in-out;
    
}




@keyframes pulse2 {
	0%{
	
		box-shadow: 0px 0px 0px 0px rgba(255, 218, 185, 1);
	}
	
	100%{
		
			box-shadow: 0px 0px 0px 30px rgba(255, 218, 185, 0);
	}
}


.arrow_icon i{  
    font-size: 30px;
    color: rgba(255, 218, 185, 1);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 158, 160, 1);
    width: 50px;
    height: 50px;
    animation: pulse 2.5s linear infinite;
    position: absolute;
    transition: 1s ease-in-out;
    


}


@keyframes pulse {
	0%{
	
		box-shadow: 0px 0px 0px 0px rgba(95, 158, 160, 1);
	}
	
	100%{
		
			box-shadow: 0px 0px 0px 26px rgba(95, 158, 160, 0);
	}
}

.animation_arrow{
    animation-name: bounce;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.left_active{
    background-color: black;
    margin-left: 253px;
}

.middle_active{
    background-color: black;
    margin-left: 253px;
    transition: 1s ease-in-out;
}

.right_active{
    width: 100%;
    text-align: center;
    z-index: 200;
    margin-left: 0;
    transition: 1s ease-in-out;
}













.arrow_active{
    transform: scale(.9);
    transition: .6s ease-in-out;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(71, 223, 20, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: pulse3;
    animation-delay: 2.5s;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
    
}




@keyframes pulse3 {
	0%{
	
		box-shadow: 0px 0px 0px 0px rgba(71, 223, 20, 1);
	}
	
	100%{
		
			box-shadow: 0px 0px 0px 30px rgba(71, 223, 20, 0);
	}
}


.arrow_active i{  
    transition: .8s ease-in-out;
    font-size: 30px;
    color: rgba(71, 223, 20, 1);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 12, 12, 1);
    width: 50px;
    height: 50px;
    animation: pulse4 2.5s linear infinite;
    position: absolute;
    


}


@keyframes pulse4 {
	0%{
	
		box-shadow: 0px 0px 0px 0px rgba(15, 12, 12, 1);
	}
	
	100%{
		
			box-shadow: 0px 0px 0px 26px rgba(15, 12, 12, 0);
	}
}